<div class='heading'>
  <h2>
    <a href='#!/{{id}}' data-id="{{id}}">{{name}}</a> {{#summary}} : {{/summary}}{{{summary}}}
  </h2>
  <ul class='options'>
    <li>
      <a href='#' class="expandResource" data-id="{{id}}" data-sw-translate>
        Expand All
      </a>
    </li>
    <li>
      <a href='#' class="collapseResource" data-id="{{id}}" data-sw-translate>
        Collapse All
      </a>
    </li>
    {{#if url}}
    <li>
      <a href='{{url}}' data-sw-translate>Raw</a>
    </li>
    {{/if}}
  </ul>
</div>
<ul class='endpoints' id='{{id}}_endpoint_list'>

</ul>
